body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2220px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2220px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1102px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:98px;
  width:98px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:98px;
  width:98px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:98px;
  width:98px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:98px;
  width:98px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:98px;
  width:98px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
